<footer class="bg-primary pt-4">
    <div class="w-100 bg-primary py-4">
        <div class="container">
            <div class="row pt-2">
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-start text-center text-light light-300">
                        © Faculty of Engineering, Rajamangala University of Technology Isan.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="text-lg-end text-center text-light light-300">
                        Department of <a rel="sponsored" class="text-decoration-none text-light" href="https://templatemo.com/" target="_blank"><strong>Computer Engineering</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>