<app-navbar-store></app-navbar-store>
<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="text-title mt-5">
                    <h1> รถเข็นของฉัน </h1>
                </div>
            </div>
            <div class="empty-cart" *ngIf="productStores.length == 0">
                <i class="bi bi-cart-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </i>
                <p> สามารถเลือกสินค้า ใส่รถเข็นได้เลย </p>
                <button type="button" class="btn btn-outline-primary" routerLink="/home"> เลือกสินค้า </button>
            </div>
            <div *ngIf="productStores.length != 0">
                <div class="card mt-2" *ngFor="let store of productStores index as indexOfstore">
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th style=" width: 15%;;"> ชื่อร้านค้า : {{ store.storeName }} </th>
                                    <th style=" width: 20%;"> </th>
                                    <th style=" width: 10%;"> ราคา </th>
                                    <th style=" width: 10%;"> จำนวน </th>
                                    <th style=" width: 10%;"> ราคารวม </th>
                                    <th style=" width: 5%;"></th>
                                </tr>
                            </thead>
                            <br>
                            <tbody>
                                <tr *ngFor="let product of store.products index as indexOfitem">
                                    <td>
                                        <img class="card-img-top mt-3" [src]="api+product.image" alt="...">
                                    </td>
                                    <td>
                                        <div class="productName mt-4">
                                            <strong> {{product.productName}} </strong>
                                        </div>
                                        <div class="productDetail mt-3">
                                            {{product.productDetail}}
                                        </div>
                                    </td>
                                    <td> {{product.productPrice}} </td>
                                    <td>
                                        <div class="form-group row amount">
                                            <button class="btn btn-amount" (click)="onAmountMinus(product.productId)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                                            </svg>
                                        </button>
                                            <input type="number" class="form-control" [(ngModel)]="product.amount" disabled>
                                            <button class="btn btn-amount" (click)="onAmountPlus(product.productId)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                                            </svg>
                                        </button>
                                        </div>
                                    </td>
                                    <td>
                                        <p>{{product.productPrice *product.amount}}</p>
                                    </td>
                                    <td>
                                        <i class="bi bi-trash" (click)="onRemove(indexOfstore,indexOfitem)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end">
                            <div class="card mt-5 px-3" style="width:30%;">
                                <h3> รวมรายการสินค้าทั้งหมด </h3>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <div class="totalPrice1 mb-4">
                                        <p> จำนวนรายการสินค้า : </p>
                                        <p> ยอดสุทธิ : </p>
                                    </div>
                                    <div class="totalPrice2">
                                        <p> {{cartService.getTotalAmount(store.storeId)}} รายการ </p>
                                        <p> {{cartService.getTotalPrice(store.storeId)}} บาท </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button mt-3 mb-4">
                            <button class="btn btn-primary" (click)="getCart(store.storeId)"> ยืนยันการซื้อ </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>