<div class="body-content pl-3 pr-3">
    <div class="card-header">
        <p class="font-20px m-0 p-1"> สินค้าในรถเข็น </p>
    </div>
    <div class="card-body row text-center">
        <table>
            <thead>
                <tr>
                    <th style=" width: 15%;"> รายการสินค้า </th>
                    <th style=" width: 10%;"> รหัสสินค้า </th>
                    <th style=" width: 10%;"> ราคา/ชิ้น </th>
                    <th style=" width: 10%;"> จำนวน </th>
                    <th style=" width: 15%;"> ราคารวม </th>
                    <th style=" width: 5%;"></th>
                </tr>
            </thead>
            <br>
            <tbody>
                <tr>
                    <td>
                        <img class="card-img-top" src="./assets/img/our-work-01.jpg" alt="...">
                    </td>
                    <td> A001 </td>
                    <td> 150 </td>
                    <td> 1 </td>
                    <td> 150 </td>
                    <td>
                        <i class="bi bi-trash">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg> 
                        </i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer mt-1">
        <div class="row">
            <div class="totalPrice">
                <form>
                    <div class="row p-1 m-2 mt-4 mb-0">
                        <div class="col-10">
                            <p>รวมสินค้าทั้งหมด : </p>
                            <p>ยอดที่ต้องชำระ : </p>
                        </div>
                        <div class="col">
                            <p> รายการ</p>
                            <p> บาท</p>
                        </div>
                        <div>
                            <button class="btn btn-primary mt-3" routerLink="/address"> ถัดไป </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>