.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -12px;
}

h1 {
    text-align: center;
}

img {
    width: 40%;
}

thead {
    background-color: #eff4ff;
    height: 40px;
    border: 0.5px solid #d3d8ff
}

table {
    width: 100%;
}

.btn-amount {
    width: 25%;
    border: 1px solid #ced4da;
    border-radius: 0px;
    background-color: #f5f4f4;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.form-control {
    width: 25%;
    width: 75px;
    text-align: center;
    border-radius: 0px;
    background-color: white;
}

.bi-trash {
    color: red;
}

.button {
    text-align: end;
}

.footer {
    margin-top: 3rem;
}

.card {
    justify-items: end;
}

h3 {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1px;
}

.card-body {
    text-align: center;
}

.productName {
    font-size: 18px;
}

.productDetail {
    text-align: start;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.totalprice {
    width: 100%;
    margin: auto;
}

.namestore {
    font-size: 16px;
}

.bi-cart-fill {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.empty-cart {
    margin-bottom: 10pc;
    text-align: center;
}

p {
    font-size: 16px;
}