th,
td {
    text-align: center;
    border-bottom: 1px solid rgb(233, 233, 233);
}

thead {
    background-color: #eff4ff;
    height: 40px;
    border: 0.5px solid #d3d8ff
}

.totalPrice {
    font-size: 16px;
    text-align: end;
    margin-right: 2rem;
    margin-bottom: 20px;
    color: rgb(255, 0, 0);
}

.card {
    width: 80%;
    margin-left: 8rem;
}

.card-img-top {
    width: 400px;
    height: 400px;
}