<app-navbar></app-navbar>
<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="text-title mt-5">
                    <h1>
                        รายการคำสั่งซื้อของร้านค้า
                    </h1>
                </div>
            </div>

            <div class="card mt-2 mb-5">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th style=" width: 2%;;"> วันที่ </th>
                                <th style=" width: 5%;"> สินค้า </th>
                                <th style=" width: 10%;"> ข้อมูลลูกค้า </th>
                                <th style=" width: 5%;"> หลักฐานในการชำระเงิน </th>
                                <th style=" width: 5%;"> </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let order of order ; let i = index">
                            <tr>
                                <td> {{order.date | date: 'HH:mm:ss'}}
                                    <br> {{order.date | date:' d/M/yyyy'}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+i">
                                        รายการสินค้า
                                    </button>
                                    <div class="modal fade" [attr.id]="'Modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" id="exampleModalLabel"> รายการสินค้า </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th style=" width: 5%;"> สินค้า </th>
                                                                <th style=" width: 3%;"> จำนวน/ชิ้น </th>
                                                                <th style=" width: 5%;"> ราคา </th>
                                                            </tr>
                                                        </thead>
                                                        <br>
                                                        <tbody>
                                                            <tr *ngFor="let res of order.detail">
                                                                <td> {{res.productName}} </td>
                                                                <td> {{res.amount}} </td>
                                                                <td> {{res.productPrice}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="totalPrice">
                                                    ยอดสุทธิ {{order.totalPrice}} บาท
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td> <br> ชื่อผู้รับ : {{order.fullName}}
                                    <br> เบอร์โทรศัพท์ : {{order.tel}}
                                    <br> ที่อยู่ในการจัดส่ง : {{order.address}} ตำล{{order.sub}} อำเภอ{{order.district}} จังหวัด{{order.province}} {{order.postalCode}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+i">
                                        การชำระเงิน
                                    </button>
                                    <div class="modal fade" [attr.id]="'exampleModal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <img class="card-img-top" [src]="api+order.image" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success" (click)="updateOrderPayment(order.orderListId)"> ยืนยัน </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>