<app-navbar></app-navbar>
<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
    <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-7 col-12 m-lg-auto text-center">
            <div class="row g-4 justify-content-between">
                <div class="col-sm-6 col-xl-3" routerLink="/user">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-user fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2"> ผู้ใช้งานทั่วไป </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" routerLink="/affiliate">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-users fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2"> ตัวแทนขาย </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" routerLink="/store">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2"> ร้านค้า </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-6 col-xl-3" routerLink="/orderlist">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2"> รายการคำสั่งซื้อ </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-3">
            <div class="row">
                <div class="col card-shadow mb-2">
                    <div class="container-fluid pt-4 mb-3">
                        <h1 class="font-opt text-success"> เป๋าตัง </h1>
                        <div class="col wallet">
                            เงินในวอลเล็ต {{wallet}} บาท
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col card-shadow mb-2">
                    <div class="container-fluid pt-4 mb-3">
                        <h1 class="font-opt text-success"> ตั้งค่าระบบ </h1>
                        <form [formGroup]="createPercent" (ngSubmit)="percentWithdrawMoney()">
                            <div class="row mt-3">
                                <div class="col-7 amount">
                                    ค่าธรรมเนียมในการถอนเงิน
                                </div>
                                <div class="col-5 input">
                                    <input type="text" name="percent" id="percent" class="form-control" placeholder="ค่าธรรมเนียมในการถอนเงิน" formControlName="percent">
                                </div>
                                <div class="col-7 amount">
                                    จำนวนเงินต่ำสุดในการถอนเงินของร้านค้า
                                </div>
                                <div class="col-5 input mt-2">
                                    <input type="text" name="minimumStore" id="minimumStore" class="form-control" placeholder="กรุณากรอกค่าธรรมเนียม" formControlName="minimumStore">
                                </div>
                                <div class="col-7 amount">
                                    จำนวนเงินสูงสุดในการถอนเงินของร้านค้า
                                </div>
                                <div class="col-5 input mt-2">
                                    <input type="text" name="maximumStore" id="maximumStore" class="form-control" placeholder="กรุณากรอกค่าธรรมเนียม" formControlName="maximumStore">
                                </div>
                                <div class="col-7 amount">
                                    จำนวนเงินต่ำสุดในการถอนเงินของตัวแทนขาย
                                </div>
                                <div class="col-5 input mt-2">
                                    <input type="text" name="minimumAffiliate" id="minimumAffiliate" class="form-control" placeholder="กรุณากรอกค่าธรรมเนียม" formControlName="minimumAffiliate">
                                </div>
                                <div class="col-7 amount">
                                    จำนวนเงินสูงสุดในการถอนเงินของตัวแทนขาย
                                </div>
                                <div class="col-5 input mt-2">
                                    <input type="text" name="maxAffiliate" id="maxAffiliate" class="form-control" placeholder="กรุณากรอกค่าธรรมเนียม" formControlName="maxAffiliate">
                                </div>
                                <button type="submit" class="btn btn-success mt-4">
                                    ยืนยัน
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 mb-2">
            <div class="container-fluid card-shadow pt-4 mb-2">
                <h1 class="font-opt text-success">รายการถอนเงินตัวแทนขาย</h1>
                <section>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 1%;"> # </th>
                                                    <th style="width: 10%;"> ชื่อผู้ใช้งาน </th>
                                                    <th style="width: 10%;"> เบอร์โทรศัพท์ </th>
                                                    <th style="width: 10%;"> จำนวนเงิน </th>
                                                    <th style="width: 10%;"> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of Affiliate | async">
                                                    <td> 1 </td>
                                                    <td> อรวรรณ </td>
                                                    <td> 0619617548 </td>
                                                    <td> 100 </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" routerLink="/money"> ยืนยัน </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator #paginatorUser1 [pageSizeOptions]="[2, 10, 25, 100]" aria-label="Select page">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="container-fluid card-shadow pt-4">
                <h1 class="font-opt text-success">รายการถอนเงินร้านค้า</h1>
                <section>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 1%;"> # </th>
                                                    <th style="width: 10%;"> ชื่อร้านค้า </th>
                                                    <th style="width: 10%;"> ชื่อ-นามสกุล </th>
                                                    <th style="width: 10%;"> เบอร์โทรศัพท์ </th>
                                                    <th style="width: 10%;"> จำนวนเงิน </th>
                                                    <th style="width: 10%;"> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of Store | async">
                                                    <td> 1 </td>
                                                    <td> {{element.store.store}} </td>
                                                    <td> {{element.user.fullName}} </td>
                                                    <td> {{element.user.tel}} </td>
                                                    <td> {{element.totalPrice}} </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" (click)="setWithdrawId(element.withdrawId)"> ยืนยัน
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator #paginatorUser [pageSizeOptions]="[3, 5, 10, 15]" aria-label="Select page">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>