<app-navbar></app-navbar>
<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
    <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3" routerLink="/user">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-user fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">ผู้ใช้งานทั่วไป</p>
                            <h5 class="mb-0">1234</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" routerLink="/affiliate">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa-solid fa-users fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Affiliate</p>
                            <h5 class="mb-0">1234</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" routerLink="/store">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">ร้านค้า</p>
                            <h5 class="mb-0">1234</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3" routerLink="/orderlist">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">รายการคำสั่งซื้อ</p>
                            <h5 class="mb-0">1234</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-3">
            <div class="row">
                <div class="col card-shadow mb-2">
                    <div class="container-fluid pt-4 mb-3">
                        <h1 class="font-opt text-success"> ปฎิทิน </h1>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(selected)]="date"></mat-calendar>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 mb-2">
            <div class="container-fluid card-shadow pt-4 mb-2">
                <h1 class="font-opt text-success">รายการถอนเงิน Affiliate</h1>
                <section>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col">
                                <div class="card">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr style="background-color: rgb(167, 161, 240); ">
                                                    <th> # </th>
                                                    <th> ชื่อผู้ใช้งาน </th>
                                                    <th> เบอร์โทรศัพท์ </th>
                                                    <th> จำนวนเงิน </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td> 1 </td>
                                                    <td> อรวรรณ </td>
                                                    <td> 0619617548 </td>
                                                    <td> 100 </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" routerLink="/money"> ยืนยัน </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
                                        </mat-paginator> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <canvas id="chartResults"></canvas> -->
            </div>
            <div class="container-fluid card-shadow pt-4">
                <h1 class="font-opt text-success">รายการถอนเงินร้านค้า</h1>
                <section>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col">
                                <div class="card">
                                    <div class="row g-0">
                                        <!-- <table class="table">
                                            <thead>
                                                <tr style="background-color: rgb(167, 161, 240); ">
                                                    <th> # </th>
                                                    <th> ชื่อผู้ใช้งาน </th>
                                                    <th> เบอร์โทรศัพท์ </th>
                                                    <th> จำนวนเงิน </th>
                                                    <th> </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of user">
                                                    <td> 1 </td>
                                                    <td> {{element.fullName}} </td>
                                                    <td> 0619617548 </td>
                                                    <td> 100 </td>
                                                    <td>
                                                        <button type="button" class="btn btn-success" routerLink="/money"> ยืนยัน </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table> -->


                                        <div class="mat-elevation-z8">
                                            <table mat-table [dataSource]="dataSource">

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="fullName">
                                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>


                                            <mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 10, 25, 100]" aria-label="Select page">
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- <canvas id="chartResults"></canvas> -->
            </div>
        </div>
    </div>
</div>