<app-navbar-store></app-navbar-store>
<div class="backgroundimg">
    <div class="row flex-center">
        <div class="col-lg-6">
            <img src="assets\img\banner-right-image.png" alt="..." />
        </div>
        <div class="address col-5">
            <div class="card mb-4 mt-5">
                <div class="card-header">
                    <h2 class="mb-0"> ที่อยู่ในการจัดส่ง </h2>
                </div>
                <div class="card-body ml-5">
                    <form [formGroup]="formAddress" (ngSubmit)="editAddress()">
                        <div class="row mb-4">
                            <div class="col-lg-6 col-6 mt-3">
                                <label for="username" class="form-label"> ชื่อ - นามสกุล </label>
                                <input type="text" name="username" id="fullName" class="form-control" placeholder="กรุณากรอกชื่อ - สกุล" formControlName="fullName">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="email" class="form-label"> อีเมล </label>
                                <input type="text" name="email" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" formControlName="email">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="phone" class="form-label"> เบอร์โทรศัพท์ </label>
                                <input type="text" name="phone" id="tel" class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์" formControlName="tel">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="address" class="form-label"> ที่อยู่ </label>
                                <input type="text" name="address" id="address" class="form-control" placeholder="กรุณากรอกที่อยู่" formControlName="address">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="subdistrict" class="form-label"> ตำบล </label>
                                <input type="text" name="subdistrict" id="subdistrict" class="form-control" placeholder="กรุณากรอกตำบล" formControlName="sub">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="district" class="form-label"> อำเภอ </label>
                                <input type="text" name="district" id="district" class="form-control" placeholder="กรุณากรอกอำเภอ" formControlName="district">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="provincs" class="form-label"> จังหวัด </label>
                                <input type="text" name="provincs" id="provincs" class="form-control" placeholder="กรุณากรอกจังหวัด" formControlName="province">
                            </div>

                            <div class="col-lg-6 col-6 mt-3">
                                <label for="postal" class="form-label"> รหัสไปรษณีย์ </label>
                                <input type="text" name="postal" id="postal" class="form-control" placeholder="กรุณากรอกรหัสไปรษณีย์" formControlName="postalCode">
                            </div>
                        </div>
                        <div class="button mt-3 mb-4">
                            <button class="btn btn-primary" routerLink="/payment"> ถัดไป </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="backgroundimg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="address col-md-6 mb-4 mt-5">
                <div class="col-lg-5 col-xl-4">
                    <img src="assets/img/illustrations/cta.png" alt="..." />
                </div>
                <div class="card mb-4 mt-5">
                    <div class="card-header">
                        <h2 class="mb-0"> ที่อยู่ในการจัดส่ง </h2>
                    </div>
                    <div class="card-body ml-5">
                        <form [formGroup]="formAddress" (ngSubmit)="editAddress()">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="username" class="form-label"> ชื่อ - นามสกุล </label>
                                    <input type="text" name="username" id="fullName" class="form-control" placeholder="กรุณากรอกชื่อ - สกุล" formControlName="fullName">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="email" class="form-label"> อีเมล </label>
                                    <input type="text" name="email" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" formControlName="email">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="phone" class="form-label"> เบอร์โทรศัพท์ </label>
                                    <input type="text" name="phone" id="tel" class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์" formControlName="tel">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="address" class="form-label"> ที่อยู่ </label>
                                    <input type="text" name="address" id="address" class="form-control" placeholder="กรุณากรอกที่อยู่" formControlName="address">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="subdistrict" class="form-label"> ตำบล </label>
                                    <input type="text" name="subdistrict" id="subdistrict" class="form-control" placeholder="กรุณากรอกตำบล" formControlName="sub">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="district" class="form-label"> อำเภอ </label>
                                    <input type="text" name="district" id="district" class="form-control" placeholder="กรุณากรอกอำเภอ" formControlName="district">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="provincs" class="form-label"> จังหวัด </label>
                                    <input type="text" name="provincs" id="provincs" class="form-control" placeholder="กรุณากรอกจังหวัด" formControlName="province">
                                </div>

                                <div class="col-lg-6 col-6 mt-3">
                                    <label for="postal" class="form-label"> รหัสไปรษณีย์ </label>
                                    <input type="text" name="postal" id="postal" class="form-control" placeholder="กรุณากรอกรหัสไปรษณีย์" formControlName="postalCode">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->