<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="input-group mb-3 mt-5">
                    <input type="text" class="form-control" placeholder="ค้นหา" aria-describedby="basic-addon2" #input (input)="searchProduct(input.value)">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="bi bi-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </i>
                    </span>
                </div>
            </div>

            <div class="col mt-5" *ngIf="products != 0">
                <button type="button" class="btn btn-outline-success" routerLink="/product-create">
                    เพิ่มสินค้า
                </button>
            </div>
            <div class="add-product" *ngIf="products == 0">
                <i class="bi bi-shop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
                      </svg>
                </i>
                <p> ผู้ใช้งานยังไม่มีรายการสินค้า</p>
                <button type="button" class="btn btn-outline-success" routerLink="/product-create">
                    เพิ่มสินค้า
                </button>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 mt-5 mb-5" *ngFor="let element of products">
                <div class="text-decoration-none project marketing social business" (click)="shareLink(element.productId)">
                    <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                        <img class="card-img-top" [src]="api+element.image" alt="...">
                        <div class="card-body ">
                            <h5 class="card-title light-300 text-dark mt-1">{{element.productName}}</h5>
                            <p class="card-detail">{{element.productDetail}}</p>
                            <span class="text-primary light-300 mt-2 mb-2">
                                <div class="row text-price">
                                    <div class="col-8 price">{{element.productPrice}}</div>
                                    <div class="col baht"> บาท </div>
                                </div>
                            </span>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <button type="button" class="btn btn-outline-warning" (click)="setProductIdtolocal(element.productId)">
                                    แก้ใขสินค้า
                                </button>
                            </div>
                            <div class="col">
                                <div class="button">
                                    <button type="button" class="btn btn-outline-danger" (click)="deleteProductById(element.productId)">
                                        ลบสินค้า
                                        <i class="bi bi-trash mt-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>