<app-navbar></app-navbar>
<div class="backgroundimg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 mb-5 mt-5">
                <div class="payment">
                    <div class="card-body card mt-5">
                        <div class="header">
                            <a class="btn btn-primary w-100">
                                <span class="fw-bold"> แนบหลักฐานการโอนเงิน </span>
                            </a>
                        </div>
                        <div class="row">
                            <div class="image mt-2">
                                <img [src]="img" alt="avatar" class="img-fluid">
                                <input type="file" #file placeholder="เลือกรูปภาพ" style="display: none;" (change)="selectFile($event)">
                                <div class="flex-parent jc-center">
                                    <button type="button" class="btn btn-success" (click)="file.click()">
                                        เลือกรูปภาพ
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="productList col-md-6 mt-5">
                <div class="card mb-4 mt-5">
                    <div class="card-header py-3">
                        <h2 class="mb-0"> ข้อมูลร้านค้า </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4"> ชื่อร้านค้า :</div>
                                    <div class="col"> {{user}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4"> ธนาคาร :</div>
                                    <div class="col"> {{bank}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> ชื่อ-นามสกุล :</div>
                                    <div class="col mt-2"> {{name}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> ชื่อบัญชี :</div>
                                    <div class="col mt-2"> {{namebank}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mb-0 mt-2"> เบอร์ติดต่อ :</div>
                                    <div class="col mt-2"> {{tel}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> เลขที่บัญชี :</div>
                                    <div class="col mt-2"> {{banknumber}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> ที่อยู่ :</div>
                                    <div class="col mt-2"> {{address}} ตำบล{{sub}} อำเภอ{{district}} จังหวัด{{province}}{{postalCode }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <!-- <div class="col-4"> เลขที่บัญชี </div>
                                    <div class="col"> {{banknumber}} </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card money mb-4 mt-5">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col">
                                <h2 class="mb-0"> จำนวนเงิน </h2>
                            </div>
                            <div class="col">
                                <h2 class="mb-0"> {{totalPrice}} บาท </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row mt-2">
                        <div class="button">
                            <button type="button" class="btn btn-outline-primary" (click)="createWithdraw()">
                                ยืนยัน
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>