<app-navbar></app-navbar>
<div class="backgroundimg">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5 mb-5 mt-5">
                <div class="payment">
                    <div class="card-body card mt-5">
                        <div class="header">
                            <a class="btn btn-primary w-100">
                                <span class="fw-bold"> แนบหลักฐานการโอนเงิน </span>
                            </a>
                        </div>
                        <div class="row">
                            <div class="image mt-2" (click)="file.click()">
                                <img [src]="img" alt="avatar" class="img-fluid">
                                <input type="file" #file placeholder="เลือกรูปภาพ" style="display: none;" (change)="selectFile($event)">
                                <!-- <div class="flex-parent jc-center">
                                    <button type="button" class="btn btn-success" (click)="file.click()">
                                        เลือกรูปภาพ
                                    </button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="productList col-md-6 mt-5">
                <div class="card mb-4 mt-5">
                    <div class="card-header py-3">
                        <h2 class="mb-0"> ข้อมูลผู้ใช้งาน </h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row" *ngIf="withdrawType == 'store'">
                                    <div class="col-4"> ชื่อร้านค้า :</div>
                                    <div class="col"> {{profile.store}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4"> ธนาคาร :</div>
                                    <div class="col"> {{profile.bankName}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> ชื่อ-นามสกุล :</div>
                                    <div class="col mt-2"> {{fullName}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> ชื่อบัญชี :</div>
                                    <div class="col mt-2"> {{profile.bankNameAccount}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mb-0 mt-2"> เบอร์ติดต่อ :</div>
                                    <div class="col mt-2"> {{tel}} </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div class="col-4 mt-2"> เลขที่บัญชี :</div>
                                    <div class="col mt-2"> {{profile.bankNumber}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 mt-5">
                    <div class="py-3">
                        <div class="row money">
                            <div class="col">
                                <div class="card-header py-3">
                                    <h2 class="mb-0"> จำนวนเงิน {{totalPrice}} บาท </h2>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-header py-3">
                                    <h2 class="mb-0"> ภาษีหัก ณ ที่จ่าย {{withholdMoney}} บาท </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row mt-2">
                        <div class="button">
                            <button type="button" class="btn btn-outline-primary" (click)="createWithdraw()">
                                ยืนยัน
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>