<app-navbar-register></app-navbar-register>
<div class="backgroundimg">
    <div class="row justify-content-center">
        <div class="assets-img col-4">
            <img src="assets\img\illustrations\hero2.png" alt="..." />
            <h1> Affiliate Marketing System </h1>
            <p class="text-center"> ยินดีต้อนรับเข้าสู่การสมัครสมาชิกเป็นลูกค้า ระบบการขายสินค้าออนไลน์ ระบบการขายสินค้าออนไลน์ </p>
        </div>
        <div class="col-6 mt-4">
            <div class="loginUser">
                <h2 class="text-center mt-4" data-aos="fade-up">
                    <i class="bi bi-person-plus-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path
                                d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                        </svg>
                    </i> สมัครสมาชิก
                </h2>
                <div class="card">
                    <section class="contact section-padding" id="contact">
                        <div class="col col-12 mx-auto">
                            <div class="card-body">
                                <form [formGroup]="formRegister" (ngSubmit)="registerUser()">
                                    <div class="row mt-2">
                                        <div class="col-lg-6 col-6">
                                            <label for="username" class="form-label"> ชื่อ - สกุล </label>
                                            <input type="text" name="username" id="username" class="form-control" placeholder="กรุณากรอกชื่อ - สกุล" formControlName="fullName">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="name" class="form-label"> ชื่อผู้ใช้งาน </label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="กรุณากรอกชื่อผู้ใช้งาน" formControlName="userName">
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <label for="password" class="form-label"> รหัสผ่าน </label>
                                            <input type="text" name="password" id="password" class="form-control" placeholder="กรุณากรอกรหัสผ่าน" formControlName="passWord">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="email" class="form-label"> อีเมล </label>
                                            <input type="text" name="email" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" formControlName="email">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="phone" class="form-label"> เบอร์โทรศัพท์ </label>
                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์" formControlName="tel">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="address" class="form-label"> ที่อยู่ </label>
                                            <input type="text" name="address" id="address" class="form-control" placeholder="กรุณากรอกที่อยู่" formControlName="address">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="subdistrict" class="form-label"> ตำบล </label>
                                            <input type="text" name="subdistrict" id="subdistrict" class="form-control" placeholder="กรุณากรอกตำบล" formControlName="sub">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="district" class="form-label"> อำเภอ </label>
                                            <input type="text" name="district" id="district" class="form-control" placeholder="กรุณากรอกอำเภอ" formControlName="district">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="provincs" class="form-label"> จังหวัด </label>
                                            <input type="text" name="provincs" id="provincs" class="form-control" placeholder="กรุณากรอกจังหวัด" formControlName="province">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="postal" class="form-label"> รหัสไปรษณีย์ </label>
                                            <input type="text" name="postal" id="postal" class="form-control" placeholder="กรุณากรอกรหัสไปรษณีย์" formControlName="postalCode">
                                        </div>

                                        <div class="row">
                                            <div class="button">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    ยืนยันสมัครสมาชิก
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>