<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="text-title mt-5">
                    <h1>
                        ประวัติการสั่งซื้อ
                    </h1>
                </div>
            </div>

            <div class="card mt-2 mb-5">
                <div class="card-body">
                    <div class="clock-history" [ngClass]="{'test' : hide == true}" *ngIf="ordertList == 0">
                        <i class="bi bi-clock-history">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                              </svg>
                        </i>
                        <p> ผู้ใช้งานยังไม่มีประวัติการสั่งซื้อ </p>
                    </div>
                    <table *ngIf="ordertList != 0">
                        <thead>
                            <tr>
                                <th style=" width: 2%;;"> # </th>
                                <th style=" width: 2%;;"> วันที่ </th>
                                <th style=" width: 4%;"> สินค้า </th>
                                <th style=" width: 10%;"> ที่อยู่ในการจัดส่ง </th>
                                <th style=" width: 5%;"> เลขพัสดุในการจัดส่ง </th>
                                <th style=" width: 5%;"> หลักฐานในการชำระเงิน </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let order of ordertList ; let i = index">
                            <tr>
                                <td> {{i+1}} </td>
                                <td> {{order.dateStPayment | date: 'HH:mm:ss'}}
                                    <br> {{order.dateStPayment | date:' d/M/yyyy'}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+i">
                                        รายการสินค้า
                                    </button>
                                    <div class="modal fade" [attr.id]="'Modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" id="exampleModalLabel"> รายการสินค้า </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th style=" width: 5%;"> สินค้า </th>
                                                                <th style=" width: 3%;"> จำนวน/ชิ้น </th>
                                                                <th style=" width: 5%;"> ราคา </th>
                                                                <th style=" width: 5%;"> ราคารวม </th>
                                                            </tr>
                                                        </thead>
                                                        <br>
                                                        <tbody>
                                                            <tr *ngFor="let res of order.detail">
                                                                <td> {{res.productName}} </td>
                                                                <td> {{res.amount}} </td>
                                                                <td> {{res.productPrice | number}} </td>
                                                                <td> {{res.productTotal | number}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="totalPrice mb-3">
                                                    ยอดสุทธิ {{order.totalPrice | number}} บาท
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> ตกลง </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td>
                                    <br> ชื่อผู้รับ : {{order.fullName}}
                                    <br> เบอร์โทรศัพท์: {{order.tel}}
                                    <br> ที่อยู่ในการจัดส่ง : {{order.address}} ตำบล{{order.sub}} อำเภอ{{order.district}} จังหวัด{{order.province}} {{order.postalCode}}
                                </td>
                                <td>
                                    {{order.trackingNumber}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+i">
                                        การชำระเงิน
                                    </button>
                                    <div class="modal fade" [attr.id]="'exampleModal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <img class="card-img-top" [src]="api+order.image" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> ตกลง </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>