<app-navbar-header></app-navbar-header>
<div id="work_banner" class="banner-wrapper bg-light">
    <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-2 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center mt-3">
                ระบบการขายสินค้าออนไลน์
            </h1>
            <!-- <h3 class="h4 pb-2 regular-400"> ยินดีต้อนรับเข้าสู่ระบบการขายสินค้าออนไลน์ </h3> -->
            <p class="banner-body pb-2 light-300 mb-2">
                ซื้อสินค้าและสร้างรายได้ง่าย ๆ กับ
                <a class="text-white" target="_blank"> ระบบการขายสินค้าออนไลน์</a> โปรแกรมที่สามารถสร้างรายได้ให้กับทุกคนแบบง่าย ๆ เพียงแค่แชร์ ! สินค้าของร้านค้า เปิดโอกาสให้ทุกคนมาร่วมเป็น Partner เพื่อสร้างคอนเทนต์บนหน้าโซเชียลของตัวเอง ไม่ว่าจะเป็นรีวิว
                หรือบอกต่อ ทั้งสินค้า โปรโมชั่น แคมเปญ และกิจกรรมน่าสนใจของทาง ระบบการขายสินค้าออนไลน์ เพียงนำลิงก์ไปวาง ทุกยอดขายจากลิงก์ของคุณ รับค่าคอมมิชชั่นไปเลยสูงสุด 30% เป็นการหารายได้แบบไม่ต้องลงทุน แถมเพื่อนได้สินค้า เราได้ค่าคอมมิชชั่น ! ในยุคเฟื่องฟูแห่งโลกออนไลน์ในปัจจุบัน
                ผู้คนส่วนใหญ่สามารถเขาถึงโลกโซเชียลได้ง่ายขึ้น ทำให้การใช้เวลาหารายได้เพิ่มสูงตามไปด้วย แต่ในภาวะเศรษฐกิจถดถอยเช่นทุกวันนี้ การหาลู่ทางสร้างรายได้ใหม่ ๆ เพื่อเสริมความมั่นคงทางการเงินจึงเป็นเรื่องสำคัญกว่า ดังนั้นจะดีกว่าไหม ถ้าหากโลกโซเชียลที่เราเองก็คุ้นชินกันเป็นอย่างดี
                สามารถสร้างรายได้แบบง่าย ๆ ทำควบคู่กับงานประจำก็ได้ แถมไม่ต้องมีเงินลงทุน มาร่วมเป็นส่วนหนึ่งกับ ระบบการขายสินค้าออนไลน์
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-11">
        <div class="input-group mb-3 mt-5">
            <input type="text" class="form-control" placeholder="ค้นหา" aria-describedby="basic-addon2" #input (input)="searchProduct(input.value)">
            <span class="input-group-text" id="basic-addon2">
                <i class="bi bi-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </i>
            </span>
        </div>
    </div>

    <div class="col mt-5">
        <a class="nav-link" routerLink="/cart">
            <i class="bi bi-cart bx-sm text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
            </i>
        </a>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-5 mb-3" *ngFor="let element of product">
            <div class="text-decoration-none project marketing social business" (click)="setProductIdtolocal(element.productId)">
                <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                    <img class="card-img-top" [src]="api+element.image" alt="...">
                    <div class="card-body">
                        <h5 class="card-title light-300 text-dark mt-1 text-center">{{element.productName}}</h5>
                        <p class="card-detail">{{element.productDetail}}</p>
                        <span class="text-price text-danger light-300 mt-2 mb-2">
                            <div class="row">
                                <div class="col-9 price">ราคา {{element.productPrice}}</div>
                                <div class="col baht"> บาท </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>