input {
    margin-left: 7rem;
    width: 80%;
}

.btn {
    text-align: center;
}

.card-title {
    text-align: center;
}

.text-price {
    margin-left: 10rem;
}

.card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}