<div id="work_banner" class="banner-wrapper bg-light w-100 py-5">
    <div class="banner-vertical-center-work container text-light d-flex justify-content-center align-items-center py-5 p-0">
        <div class="banner-content col-lg-8 col-12 m-lg-auto text-center">
            <h1 class="banner-heading h2 display-3 pb-5 semi-bold-600 typo-space-line-center"> Affiliate </h1>
            <h3 class="h4 pb-2 regular-400"> ยินดีค้อนรับเข้าสู่ระบบ Affiliate </h3>
            <p class="banner-body pb-2 light-300">
                Vector illustration <a class="text-white" href="http://freepik.com/" target="_blank">Freepik</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                ultrices gravida. Risus commodo viverra maecenas accumsan lacus.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="input-group mb-3 mt-5">
            <input type="text" class="form-control" placeholder="ค้นหา" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">
                <i class="bi bi-search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </i>
            </span>
        </div>
    </div>
    <div class="col mt-5">
        <button type="button" class="btn btn-outline-success" routerLink="/createproduct">
            <i class="bi bi-plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </i>
            เพิ่มสินค้า
        </button>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mt-4 mb-4">
        <div class="filter-btns shadow-md rounded-pill text-center col-auto">
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4 active" data-filter=".project">All</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".business">Business</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".marketing">Marketing</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".social">Social Media</a>
            <a class="filter-btn btn rounded-pill btn-outline-primary border-0 m-md-2 px-md-4" data-filter=".graphic">Graphic</a>
        </div>
    </div>
    <div class="row projects gx-lg-5">
        <div class="col-sm-6 col-lg-4 text-decoration-none project marketing social business" routerLink="/productdetail">
            <div class="service-work overflow-hidden card mb-5 mx-5 m-sm-0">
                <img class="card-img-top" src="./assets/img/our-work-01.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Corporate Branding</h5>
                    <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project graphic social">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="./assets/img/our-work-02.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Corporate Branding</h5>
                    <p class="card-text light-300 text-dark">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic business">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="./assets/img/our-work-03.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Leading Digital Solution</h5>
                    <p class="card-text light-300 text-dark">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatdolore eu fugiat nulla pariatur.
                    </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project social business">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="./assets/img/our-work-04.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Smart Applications</h5>
                    <p class="card-text light-300 text-dark">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project marketing">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="./assets/img/our-work-05.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">Corporate Stationary</h5>
                    <p class="card-text light-300 text-dark">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 text-decoration-none project marketing graphic">
            <div class="service-work overflow-hidden card mx-5 mx-sm-0 mb-5">
                <img class="card-img-top" src="./assets/img/our-work-06.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title light-300 text-dark">8 Financial Tips</h5>
                    <p class="card-text light-300 text-dark">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <span class="text-price text-danger light-300"> ราคา 150 <i class="fa-solid fa-baht-sign"></i> </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-toolbar justify-content-center pb-4" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary text-white">Previous</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-light">1</button>
            </div>
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary text-white">2</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary text-white">Next</button>
            </div>
        </div>
    </div>

</div>