.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -15px;
}

.btn-primary {
    float: right;
}

p {
    text-align: center;
}

.header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.card-img-top {
    width: 250px;
    height: 250px;
    margin-left: 65px;
}

.flex-parent {
    display: flex;
}

.jc-center {
    margin-top: 20px;
    justify-content: center;
}

.img-fluid {
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-outline-primary {
    float: right;
}

p {
    margin-top: 10px;
}

.payment {
    margin-left: 5rem;
    margin-top: 3rem;
    font-size: 16px;
}

.productList {
    margin-top: 3rem;
    margin-right: 5rem;
}

.address {
    text-align: center;
}

.btn-primary {
    text-align: start;
}

.admin {
    text-align: end;
}