<app-navbar></app-navbar>
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <h1> รายชื่อลูกค้า </h1>
            <div class="col">
                <div class="card">
                    <div class="row g-0">
                        <table class="table">
                            <thead>
                                <tr style="background-color: rgb(167, 161, 240); ">
                                    <th> # </th>
                                    <th> ชื่อผู้ใช้งาน </th>
                                    <th> อีเมล </th>
                                    <th> เบอร์โทรศัพท์ </th>
                                    <th style="width: 30%;"> ที่อยู่ </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let element of user">
                                    <td> 1 </td>
                                    <td> {{element.fullName}} </td>
                                    <td> {{element.email}} </td>
                                    <td> {{element.tel}} </td>
                                    <td> {{element.address}} ตำบล{{element.sub}} อำเภอ{{element.district}} จังหวัด{{element.province}} รหัสไปรษณีย์{{element.postalCode}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>