<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="text-title mt-5">
                    <h1>
                        คำสั่งซื้อ
                    </h1>
                </div>
            </div>

            <div class="card mb-5">
                <div class="card-body">
                    <table>
                        <thead>
                            <tr>
                                <th style=" width: 1%;;"> วันที่ </th>
                                <th style=" width: 4%;"> สินค้า </th>
                                <th style=" width: 8%;"> ที่อยู่ในการจัดส่ง </th>
                                <th style=" width: 5%;"> หลักฐานในการชำระเงิน </th>
                                <th style=" width: 5%;"> </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let order of ordersList ; let i = index">
                            <tr>
                                <td> {{order.dateStPayment | date: 'HH:mm:ss'}}
                                    <br> {{order.dateStPayment | date: 'd/M/yyyy'}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+i">
                                        รายการสินค้า
                                    </button>

                                    <div class="modal fade" [attr.id]="'Modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title" id="exampleModalLabel"> รายการสินค้า </h1>
                                                </div>
                                                <div class="modal-body">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th style=" width: 5%;"> สินค้า </th>
                                                                <th style=" width: 3%;"> จำนวน/ชิ้น </th>
                                                                <th style=" width: 5%;"> ราคา </th>
                                                            </tr>
                                                        </thead>
                                                        <br>
                                                        <tbody>
                                                            <tr *ngFor="let res of order.detail">
                                                                <td> {{res.productName}} </td>
                                                                <td> {{res.amount}} </td>
                                                                <td> {{res.productPrice | number}} </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="totalPrice mb-3">
                                                    ยอดสุทธิ {{order.totalPrice | number}} บาท
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                                <td> <br> <strong>ชื่อผู้รับ : {{order.fullName}}</strong>
                                    <br> เบอร์โทรศัพท์ : {{order.tel}}
                                    <br> ที่อยู่ในการจัดส่ง : {{order.address}} ตำล{{order.sub}} อำเภอ{{order.district}} จังหวัด{{order.province}}{{order.postalCode}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+i">
                                        การชำระเงิน
                                    </button>
                                    <div class="modal fade" [attr.id]="'exampleModal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <img class="card-img-top" [src]="api+order.image" alt="...">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+i">
                                        ยืนยัน
                                    </button>

                                    <div class="modal fade" [attr.id]="'Modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel">
                                                        กรูณาใส่เลขพัสดุสินค้า </h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form [formGroup]="formTrackNumber" (ngSubmit)="trackingNumber(order.orderListId)">
                                                    <div class="row mt-3">
                                                        <div class="col-2 nametrack">
                                                            เลขพัสดุ :
                                                        </div>
                                                        <div class="col inputtrack">
                                                            <input type="text" name="trackingNumber" id="trackingNumber" class="form-control" placeholder="กรุณากรอกเลขพัสดุ" formControlName="trackingNumber">
                                                        </div>

                                                        <div class="button">
                                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="trackingNumber(order.orderListId)">
                                                                ยืนยัน
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" [attr.data-bs-target]="'#Modal'+i">
                                        ยืนยัน
                                    </button>
                                    <div class="modal fade" [attr.id]="'Modal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title" id="exampleModalLabel">
                                                        กรูณาใส่เลขพัสดุสินค้า </h3>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <form [formGroup]="formTrackNumber" (ngSubmit)="trackingNumber(order.orderListId)">
                                                    <div class="row mt-3">
                                                        <div class="col-2 nametrack">
                                                            เลขพัสดุ :
                                                        </div>
                                                        <div class="col inputtrack">
                                                            <input type="text" name="trackingNumber" id="trackingNumber" class="form-control" placeholder="กรุณากรอกเลขพัสดุ" formControlName="trackingNumber">
                                                        </div>

                                                        <div class="button">
                                                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="trackingNumber(order.orderListId)">
                                                                ยืนยัน
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>