.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -12px;
    min-height: 77vh;
}

table {
    width: 100%;
}

th,
td {
    text-align: center;
    border-bottom: 1px solid rgb(255, 255, 255);
}

thead {
    background-color: #eff4ff;
    height: 40px;
    border: 0.5px solid #d3d8ff
}

img {
    width: 400px;
}

.btn-primary {
    width: 80%;
}

.totalPrice {
    color: rgb(255, 0, 0);
}

.modal-content {
    margin-top: 8rem;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}

.btn-secondary {
    margin-left: 2px;
}

.nametrack {
    margin-left: 20px;
    margin-top: 10px;
}

.inputtrack {
    margin-right: 20px;
}

h3 {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1px;
}

.title {
    margin-left: 20px;
    font-size: 16px;
}

.data {
    font-size: 16px;
    text-align: end;
    margin-right: 20px;
}

.product-share {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.bi-share-fill {
    margin-top: 4rem;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5rem;
}

.test {
    display: none;
}