<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1 mt-2" (click)="routeToPage()" style="cursor: pointer;">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4"> Affiliate </span> <span class="text-primary h4"> Shop </span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mb-2">
                <ul class="nav navbar-nav d-flex justify-content-end text-center text-dark">
                    <div class="dropdown" *ngIf="this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" aria-expanded="false" routerLink="/share-history">
                            รายการแชร์สินค้า
                        </a>
                    </div>
                    <div class="dropdown" *ngIf="this.showCardRole=='STORE' || this.showCardRole=='ST_AF'">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false">
                            รายการร้านค้า
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                            <li *ngIf="this.showCardRole=='STORE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/product-store"> ร้านค้าของฉัน </a>
                            </li>
                            <li *ngIf="this.showCardRole=='STORE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-store"> คำสั่งซื้อ </a>
                            </li>
                            <li *ngIf="this.showCardRole=='STORE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-delivery"> รายการจัดส่งสินค้า </a>
                            </li>
                            <li *ngIf="this.showCardRole=='STORE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-dlv-history"> ประวัติการจัดส่ง </a>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown" *ngIf="this.showCardRole=='USER'|| this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                        <a class="nav-link btn-outline-primary rounded-pill px-3 " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            ติดตามสินค้า
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li *ngIf="this.showCardRole=='USER' || this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-user"> คำสั่งซื้อที่รอการตรวจสอบ </a>
                            </li>
                            <li *ngIf="this.showCardRole=='USER' || this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-wait-payment"> สินค้ารอชำระเงิน </a>
                            </li>
                            <li *ngIf="this.showCardRole=='USER' || this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-wait-delivery"> รอการจัดส่ง </a>
                            </li>
                            <li *ngIf="this.showCardRole=='USER' || this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item" routerLink="/order-success"> รับสินค้า </a>
                            </li>
                            <li *ngIf="this.showCardRole=='USER' || this.showCardRole=='STORE' || this.showCardRole=='AFFILIATE' || this.showCardRole=='ST_AF'">
                                <a class="dropdown-item " routerLink="/order-history"> ประวัติการสั่งซื้อ </a>
                            </li>
                        </ul>
                    </div>


                    <div class="dropdown" *ngIf="this.showCardRole!='ST_AF'">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" role="button" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">
                            สมัครสมาชิก
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                            <li *ngIf="showCardRole==''">
                                <a class="dropdown-item" routerLink="/register-user"> สมัครสมาชิก </a>
                            </li>
                            <li *ngIf="showCardRole=='USER' || showCardRole=='STORE'">
                                <a class="dropdown-item" routerLink="/register-customer"> สมัครสมาชิกสำหรับAffiliate</a>
                            </li>
                            <li *ngIf="showCardRole=='USER' || showCardRole=='AFFILIATE'">
                                <a class="dropdown-item" routerLink="/register-store"> สมัครสมาชิกสำหรับร้านค้า </a>
                            </li>
                        </ul>
                    </div>
                    <li class="nav-item" *ngIf="!checkLogin">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" routerLink="/login"> เข้าสู่ระบบ </a>
                    </li>

                </ul>
            </div>

            <div class="dropdown" *ngIf="checkLogin">
                <a class="nav-link align-self-center d-flex" role="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='bx bx-user-circle bx-sm text-primary'></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li class="nav-item">
                        <button class="dropdown-item" type="button" routerLink="/profile-user"> ข้อมูลของฉัน </button>
                    </li>
                    <li *ngIf="showCardRole=='AFFILIATE' || showCardRole=='STORE' || showCardRole=='ST_AF'">
                        <a class="dropdown-item " routerLink="/money-history"> การถอนเงิน </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" (click)="logout()"> ออกจากระบบ </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>