<app-navbar-login></app-navbar-login>
<div class="backgroundimg">
    <div class="row flex-center">
        <div class="col-lg-5 col-xl-4">
            <img src="assets\img\illustrations\4.png" alt="..." />
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-head">
                    <h1 class="text-center text-white m-3"> เข้าสู่ระบบ </h1>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row card-user mt-4 mb-4">
                            <div class="col" routerLink="/home">
                                <div class="col">
                                    <div class="card" (click)="checkProfile('user')">
                                        <div class="row m-4">
                                            <i class="bi bi-people-fill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50 "
                                                    fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    <path fill-rule="evenodd "
                                                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                                </svg>
                                            </i>
                                            <div class="loginCustomer text-center">
                                                เข้าสู่ระบบลูกค้าทั่วไป
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="col" *ngIf="role=='CUSTOMER' || role=='ST_CTM'" routerLink="/home">
                                    <div class="card" (click)="checkProfile('customer')">
                                        <div class="row m-4">
                                            <i class="bi bi-people-fill">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50 "
                                                    fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                                    <path fill-rule="evenodd "
                                                        d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                                </svg>
                                            </i>
                                            <div class="loginCustomer text-center">
                                                เข้าสู่ระบบลูกค้า Affiliate
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col" *ngIf="role=='STORE' || role=='ST_CTM'" routerLink="/product-store">
                                <div class="card" (click)="checkProfile('store')">
                                    <div class="row m-4">
                                        <i class="bi bi-bag-fill">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                                                fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z " />
                                            </svg>
                                        </i>
                                        <div class="loginStore text-center">
                                            เข้าสู่ระบบสำหรับร้านค้า
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>