<app-navbar></app-navbar>
<div class="backgroundimg">
    <div class="container">
        <div class="col-5">
            <div class="text-title mt-5">
                <h1>
                    ประวัติการโอนเงิน
                </h1>
            </div>
        </div>
        <div class="col-lg-12 mb-2">
            <div class="container-fluid card-shadow pt-4 mb-2">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col mb-2">
                            <h2 class="font-opt text-success">
                                <p>
                                    ตัวแทนขาย
                                </p>
                            </h2>

                            <div class="card">
                                <div class="row g-0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 5%;"> # </th>
                                                <th style="width: 10%;"> ชื่อผู้ใช้งาน </th>
                                                <th style="width: 10%;"> เบอร์โทรศัพท์ </th>
                                                <th style="width: 10%;"> จำนวนเงิน </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let element of affiliate | async; index as i">
                                                <td> {{ getRowAF(i) }} </td>
                                                <td> {{element.user.fullName}} </td>
                                                <td> {{element.user.tel}} </td>
                                                <td> {{element.totalPrice}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator #paginatorAffiliate [pageSizeOptions]="[5, 25, 50, 100]" aria-label="Select page">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid card-shadow pt-4">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col mb-2">
                            <h2 class="font-opt text-success">
                                <p>
                                    ร้านค้า
                                </p>
                            </h2>
                            <div class="card">
                                <div class="row g-0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 1%;"> # </th>
                                                <th style="width: 10%;"> ชื่อร้านค้า </th>
                                                <th style="width: 10%;"> ชื่อ-นามสกุล </th>
                                                <th style="width: 10%;"> เบอร์โทรศัพท์ </th>
                                                <th style="width: 10%;"> จำนวนเงิน </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let element of store | async; index as i">
                                                <td> {{ getRowST(i) }} </td>
                                                <td> {{element.store.store}} </td>
                                                <td> {{element.user.fullName}} </td>
                                                <td> {{element.user.tel}} </td>
                                                <td> {{element.totalPrice}} </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <mat-paginator #paginatorStore [pageSizeOptions]="[5, 25, 50, 100]" aria-label="Select page">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>