<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="container">
        <div class="col-5">
            <div class="text-title mt-5">
                <h1>
                    ประวัติการโอนเงิน
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mb-5">
                    <div class="card-body">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width: 5%;"> วันที่ </th>
                                    <th style="width: 8%;"> ชื่อลูกค้า </th>
                                    <th style="width: 5%;"> จำนวนเงิน </th>
                                    <th style="width: 10%;"> หลักฐานการโอนให้ร้านค้า </th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of withdraw ; let i = index">
                                <br>
                                <tr>
                                    <td> {{item.date | date: 'HH:mm:ss'}}
                                        <br> {{item.date | date:' d/M/yyyy'}}
                                    </td>
                                    <td> orawan</td>
                                    <td> {{item.totalPrice}} </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+i">
                                            หลักฐานการโอนเงิน
                                        </button>
                                        <div class="modal fade" [attr.id]="'exampleModal'+i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <img class="card-img-top" [src]="api+item.image" alt="...">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>