<app-navbar-register></app-navbar-register>
<div class="backgroundimg">
    <div class="row justify-content-center">
        <div class="assets-img col-4">
            <img src="assets\img\illustrations\4.png" alt="..." />
            <h1> Affiliate Affiliate </h1>
            <p> ยินดีต้อนรับเข้าสู่การสมัครสมาชิก Affiliate shop ที่เป็นระบบการขายสินค้า รวมทั้งการสร้างรายได้ให้แก่ทุกท่าน </p>
        </div>
        <div class="col-5">
            <div class="loginCustomer">
                <h2 class="text-center mt-4" data-aos="fade-up">
                    <i class="bi bi-person-plus-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path
                                d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                        </svg>
                    </i> สมัครสมาชิก Affiliate
                </h2>
                <div class="card">
                    <section class=" contact section-padding" id="contact">
                        <div class="col col-12 mx-auto">
                            <div class="card-body">
                                <form [formGroup]="formRegister" (ngSubmit)="registerCustomer()">
                                    <div class="row mt-2">
                                        <div class="col-lg-12 col-12">
                                            <label for="namebank" class="form-label"> ชื่อบัญชีธนาคาร </label>
                                            <input type="text" class="form-control" placeholder="กรุณากรอกชื่อบัญชีธนาคาร" formControlName="bankName" [ngClass]="{'is-invalid': submitAdd && formValidAdd.bankName.errors}">
                                            <div class="invalid-feedback" *ngIf="submitAdd && formValidAdd.bankName.errors">
                                                <div *ngIf="formValidAdd.bankName.errors.required">กรุณากรอกชื่อบัญชีธนาคาร</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-12">
                                            <label for="text" class="form-label"> เลขที่บัญชี </label>
                                            <input type="text" [maxLength]="10" class="form-control" placeholder="กรุณากรอกเลขที่บัญชี" formControlName="bankNumber" [ngClass]="{'is-invalid': submitAdd && formValidAdd.bankNumber.errors}" (ngModelChange)="onChange()">
                                            <div class="invalid-feedback" *ngIf="submitAdd && formValidAdd.bankNumber.errors">
                                                <div *ngIf="formValidAdd.bankNumber.errors.required">กรุณาเลขที่บัญชี </div>
                                                <div *ngIf="formValidAdd.bankNumber.errors.minlength || formValidAdd.bankNumber.errors['pattern']">กรุณาเลขที่บัญชีใหถูกต้อง</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <label for="namebank" class="form-label"> บัญชีธนาคาร </label>
                                            <select class="form-select" aria-label="Default select example" formControlName="bankNameAccount" [ngClass]="{'is-invalid': submitAdd && formValidAdd.bankNameAccount.errors}" (ngModelChange)="onChange()">
                                                <option value="ธนาคารกรุงไทย (KTB)"> ธนาคารกรุงไทย (KTB) </option>
                                                <option value="ธนาคารไทยพาณิชย์ (SCB)"> ธนาคารไทยพาณิชย์ (SCB) </option>
                                                <option value="ธนาคารกรุงเทพ (BBL)"> ธนาคารกรุงเทพ (BBL) </option>
                                                <option value="ธนาคารกสิกรไทย (KBANK)"> ธนาคารกสิกรไทย (KBANK) </option>
                                            </select>
                                            <div class="invalid-feedback" *ngIf="submitAdd && formValidAdd.bankNameAccount.errors">
                                                <div *ngIf="formValidAdd.bankNameAccount.errors.required">กรุณาเล์อกธนาคาร</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="button">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    ยืนยันสมัครสมาชิก
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>