.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -13px;
}

label {
    margin-top: 6px;
}

.btn-outline-primary {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 22px;
}

h1 {
    text-align: center;
}

img {
    width: 90%;
    margin-left: 2rem;
}

.loginCustomer {
    margin-left: 5rem;
    margin-right: 4rem;
    margin-top: 6rem;
}

.assets-img {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.img-fluid {
    margin-top: 20px;
    width: 150px;
    margin-left: 15rem;
}

.btn-primary {
    margin-left: 16rem;
}

.img-fluid {
    margin-top: 5rem;
    width: 150px;
    margin-left: 4rem;
}

.btn-primary {
    width: 50%;
    margin-left: 4rem;
}

.image {
    margin-left: 2rem;
    margin-right: 2rem;
}