<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="row flex-center justify-content-center">
        <div class="col-7">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 upload mt-4">
                            <img class="card-img-top" [src]="api+product.image">
                        </div>
                        <div class="product col mt-4">
                            <div class="productname row">
                                <div class="col">
                                    <strong>{{product.productName}}</strong>
                                </div>
                            </div>
                            <div class="productdetail row">
                                <div class="col"> {{product.productDetail}} </div>
                            </div>
                            <div class="productprice row">
                                <div class="price col-8"> ราคา </div>
                                <div class="priceValue col"> {{product.productPrice}} บาท </div>
                            </div>
                            <div class="row share-buttons mt-2" (click)="getLinkShareProduct()">
                                <share-buttons theme="circles-dark" [include]="['copy']" [showIcon]="true" [showText]="true" [url]="baseUrl" description="Angular Share Buttons" twitterAccount="rodrigokamada" class="share-buttons"></share-buttons>
                                <br> {{baseUrl}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>