.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -1rem;
}

h2 {
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
}

.fa-solid {
    margin-left: 5px;
}

.bi-pencil-square {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: auto;
}

.button {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}