<app-navbar-header></app-navbar-header>
<section class="backgroundimg" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 mt-4">
                    <i class="bi bi-pencil-square" (click)="file.click()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </i>
                    <div class="card-body text-center">
                        <img [src]="img" alt="avatar" class="img-fluid">
                        <br>
                        <input type="file" #file placeholder="เลือกรูปภาพ" style="display: none;" (change)="selectFile($event)">
                    </div>
                    <div class="button">
                        <button type="button" class="btn btn-outline-success" (click)="editProfile()"> ยืนยัน </button>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0" *ngIf="showCardRole == 'STORE' || showCardRole == 'ST_AF'">
                    <div class="card-body">
                        <h2> ข้อมูลสำหรับร้านค้า
                            <i class="fa-solid fa-pen-to-square" (click)="profileStore()"></i>
                        </h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อร้านค้า </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.store}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อบัญชีธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> เลขที่บัญชี </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankNumber}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankNameAccount}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0 mt-4" *ngIf="showCardRole == 'AFFILIATE' || showCardRole == 'ST_AF'">
                    <div class="card-body">
                        <h2> ข้อมูลของบัญชีธนาคาร
                            <i class="fa-solid fa-pen-to-square" (click)="profileAffiliate()"></i>
                        </h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อบัญชีธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> เลขที่บัญชี </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankNumber}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankNameAccount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile col-lg-8">
                <div class="row mt-4">
                    <div class="card affiliate col">
                        <h2 style="margin-top: 2ex;"> ยอดเงินการแชร์ </h2>
                        <button type="button" class="btn btn-success"> ถอนเงิน </button>
                    </div>
                    <div class="card shope col">
                        <h2 style="margin-top: 2ex;"> ยอดเงินการขาย </h2>
                        <button type="button" class="btn btn-success"> ถอนเงิน </button>
                    </div>
                </div>
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <div class="header">
                            <h2> ข้อมูลของฉัน
                                <i class="fa-solid fa-pen-to-square" (click)="profileUser()"></i>
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">ชื่อ - นามสกุล</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.fullName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> เบอร์โทรศัพท์ </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.tel}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> อีเมล </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> บ้านเลขที่ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.address}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> ตำบล </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.sub}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> อำเภอ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.district}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> จังหวัด </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.province}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> รหัสไปรษณีย์ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.postalCode}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>