<app-navbar-header></app-navbar-header>
<section class="backgroundimg" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4 mt-4">
                    <div class="card-body text-center">
                        <img [src]="profile.image" alt="avatar" class=" img-fluid">
                        <br>
                        <input type="file" #file placeholder="เลือกรูปภาพ" style="display: none;">
                        <button type="button" class="btn btn-outline-primary mt-3" (click)="file.click()">
                            เลือกรูปภาพ
                        </button>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0" *ngIf="showCardRole == 'store'">
                    <div class="card-body">
                        <h2> ข้อมูลสำหรับร้านค้า </h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อร้านค้า </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.store}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อบัญชีธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> เลขที่บัญชี </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankNumber}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{store.bankNameAccount}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0 mt-4" *ngIf="showCardRole == 'affiliate'">
                    <div class="card-body">
                        <h2> ข้อมูลของบัญชีธนาคาร </h2>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อบัญชีธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> เลขที่บัญชี </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankNumber}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <p class="mb-0"> ชื่อธนาคาร </p>
                            </div>
                            <div class="col-sm-7">
                                <p class="text-muted mb-0">{{affiliate.bankNameAccount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile col-lg-8">
                <div class="card mb-4 mt-4">
                    <div class="card-body">
                        <h2> ข้อมูลของฉัน</h2>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">ชื่อ - นามสกุล</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.fullName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> ชื่อผู้ใช้ </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.userName}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> เบอร์โทรศัพท์ </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.tel}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"> อีเมล </p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{profile.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> บ้านเลขที่ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.address}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> ตำบล </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.sub}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> อำเภอ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.district}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> จังหวัด </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.province}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> รหัสไปรษณีย์ </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{profile.postalCode}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>