.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -1rem;
}

h2 {
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
}

.fa-solid {
    margin-top: 1rem;
    margin-right: 20px;
    margin-left: auto;
    font-size: 20px
}