.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    margin-top: -1rem;
}

.card {
    margin-top: 8rem;
    margin-bottom: 8rem;
    box-shadow: 0px 0px 0px 1px #313131;
    border: 0px;
}

.card-body {
    margin: 2rem;
}

img {
    width: 95%;
    height: 95%;
}

.productname {
    font-size: 16px;
}

.productdetail {
    margin-top: 2rem;
    font-size: 16px;
}

.productprice {
    color: blue;
    margin-top: 20px;
    font-size: 20px;
}

.button {
    margin-top: 3rem;
}

.cart {
    text-align: right;
}