<div class="backgroundimg">
    <div class="row justify-content-center">
        <div class="col-4">
            <img src="assets/img/illustrations/callback.png" alt="..." />
            <h1> Affiliate Shop </h1>
            <p> ยินดีต้อนรับเข้าสู่การสมัครสมาชิก Affiliate shop ที่เป็นระบบการขายสินค้า รวมทั้งการสร้างรายได้ให้แก่ทุกท่าน </p>
        </div>
        <div class="col-6 mt-4">
            <div class="shop">
                <h2 class="text-center mt-4" data-aos="fade-up">
                    <i class="bi bi-person-plus-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                            class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path
                                d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z" />
                        </svg>
                    </i> สมัครสมาชิกร้านค้า
                </h2>
                <div class="card">
                    <section class=" contact section-padding" id="contact">
                        <div class="col col-12 mx-auto">
                            <div class="card-body">
                                <form [formGroup]="formRegister" (ngSubmit)="registerStore()">
                                    <div class="row">
                                        <h2> ข้อมูลร้านค้า </h2>
                                        <div class="col-lg-6 col-6">
                                            <label for="name" class="form-label"> ชื่อร้านค้า </label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="กรุณากรอกชื่อร้านค้า" formControlName="store">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="address" class="form-label"> ที่อยู่ร้านค้า </label>
                                            <input type="text" name="address" id="address" class="form-control" placeholder="กรุณากรอกที่อยู่ร้านค้า" formControlName="address">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="subdistrict" class="form-label"> ตำบล </label>
                                            <input type="text" name="subdistrict" id="subdistrict" class="form-control" placeholder="กรุณากรอกตำบล" formControlName="sub">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="district" class="form-label"> อำเภอ </label>
                                            <input type="text" name="district" id="district" class="form-control" placeholder="กรุณากรอกอำเภอ" formControlName="district">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="provincs" class="form-label"> จังหวัด </label>
                                            <input type="text" name="provincs" id="provincs" class="form-control" placeholder="กรุณากรอกรหัสผ่าน" formControlName="province">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="postal" class="form-label"> รหัสไปรษณีย์ </label>
                                            <input type="text" name="postal" id="postal" class="form-control" placeholder="กรุณากรอกรหัสไปรษณีย์" formControlName="postalCode">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="mt-4 mb-2">
                                            <h2> ข้อมูลสำหรับใช้ในการติดต่อ </h2>
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <label for="username" class="form-label"> ชื่อ - นามสกุล</label>
                                            <input type="text" name="username" id="username" class="form-control" placeholder="กรุณากรอกชื่อร้านค้า" formControlName="fullName">
                                        </div>

                                        <div class="col-lg-6 col-6">
                                            <label for="email" class="form-label"> อีเมล </label>
                                            <input type="text" name="email" id="email" class="form-control" placeholder="กรุณากรอกอีเมล" formControlName="email">
                                        </div>
                                        <div class="col-lg-6 col-6">
                                            <label for="phone" class="form-label"> เบอร์โทรศัพท์ </label>
                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="กรุณากรอกเบอร์โทรศัพท์" formControlName="tel">
                                        </div>

                                        <div class="button">
                                            <button type="submit" class="btn btn-outline-primary">
                                            ถัดไป
                                            <i class="bi bi-arrow-right">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                </svg>
                                            </i>
                                        </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>