<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1 mt-2" routerLink="/home">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4"> Affiliate </span> <span class="text-primary h4"> Shop </span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mb-2">
                <ul class="nav navbar-nav d-flex justify-content-end text-center text-dark">

                    <div class="dropdown">
                        <a class="nav-link btn-outline-primary rounded-pill px-3 " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            สมัครสมาชิก
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item" routerLink="/register-user"> สมัครสมาชิก </a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/register-customer"> สมัครสมาชิกสำหรับAffiliate</a>
                            </li>
                            <li>
                                <a class="dropdown-item" routerLink="/register-store"> สมัครสมาชิกสำหรับร้านค้า </a>
                            </li>
                        </ul>
                    </div>
                    <li class="nav-item" *ngIf="!checkLogin">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" routerLink="/login"> เข้าสู่ระบบ </a>
                    </li>
                    <li class="nav-item" *ngIf="checkLogin">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" (click)="logout()"> ออกจากระบบ </a>
                    </li>
                </ul>
            </div>

            <div class="dropdown">
                <a class="nav-link align-self-center d-flex " role="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class='bx bx-user-circle bx-sm text-primary'></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li class="nav-item" routerLink="/profile">
                        <button class="dropdown-item" type="button" (click)="checkProfile('store')">
                            โปรไฟล์ร้านค้า
                        </button>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>