<div class="backgroundimg">
    <div class="row flex-center justify-content-center">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 upload">
                            <img src="http://f.ptcdn.info/034/048/000/oifflt9dlY1OXY4JWyF-o.jpg" alt="">
                        </div>
                        <div class="col productdetail">
                            <div class="row p-1 m-2 mt-4 mb-0">
                                <div class="col-3 listproduct">
                                    <p class="name"> ชื่อสินค้า : </p>
                                    <p class="detail"> รายละเอียด : </p>
                                    <p class="price"> ราคา : </p>
                                    <p class="com"> ค่าคอม : </p>
                                </div>
                                <div class="col">
                                    <p class="name"> เสื้อผ้าแฟชั่นผู้หญิง เสื้อยืดผู้หญิง </p>
                                    <p class="detail"> เสื้อผ้าแฟชั่นผู้หญิง เสื้อยืดแขนสั้นพิมพ์ลายลำลองสำหรับผู้หญิง </p>
                                    <p class="price"> บาท </p>
                                    <p class="com"> บาท </p>
                                </div>
                            </div>
                            <div class="row button mt-2">
                                <button type="button" class="btn btn-primary mt-2"> Facebook </button>
                                <button type="button" class="btn btn-danger mt-2"> Instagram </button>
                                <button type="button" class="btn btn-dark mt-2"> Tiktok </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>