<app-navbar-header></app-navbar-header>
<div class="backgroundimg">
    <div class="container">
        <div class="text-title mt-5">
            <!-- <h1> ประวัติการถอนเงิน </h1> -->
        </div>
        <div class="row">
            <div class="col-7">
                <div class="container-fluid card-shadow pt-4 mb-2" *ngIf="role=='AFFILIATE' || role=='ST_AF'">
                    <h1 class="font-opt text-success"> ประวัติการถอนเงินตัวแทนขาย </h1>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;"> จำนวนเงิน </th>
                                                    <th style="width: 10%;"> สถานะ </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of affiliate | async; index as i">
                                                    <td> {{element.totalPrice}} </td>
                                                    <td> {{element.status == "withdraw success"?"สำเร็จ":"รอการตรวจสอบ"}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator #paginatorAffiliate [pageSizeOptions]="[5, 25, 50, 100]" aria-label="Select page">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid card-shadow pt-4" *ngIf="role=='STORE' || role=='ST_AF'">
                    <h1 class="font-opt text-success"> ประวัติการถอนเงินร้านค้า</h1>
                    <div class="container h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col mb-2">
                                <div class="card">
                                    <div class="row g-0">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 10%;"> จำนวนเงิน </th>
                                                    <th style="width: 10%;"> สถานะ </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let element of store | async; index as i">
                                                    <td> {{element.totalPrice}} </td>
                                                    <td> {{element.status == "withdraw success"?"สำเร็จ":"รอการตรวจสอบ"}} </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <mat-paginator #paginatorStore [pageSizeOptions]="[5, 25, 50, 100]" aria-label="Select page">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row withdraw-money mb-4" *ngFor="let item of wallet">
                    <div class="card affiliate col-6" *ngIf="role=='AFFILIATE' || role=='ST_AF'">
                        <h2> ยอดเงินการแชร์ </h2>
                        <p class="mt-3"> {{item.incomeAffiliate | number : '1.2-2'}}</p>
                        <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                            ถอนเงิน
                        </button>
                        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title"> เงื่อไขในการถอนเงิน </h3>
                                        <div class="col mt-5">
                                            <div class="row">
                                                1. ขั้นต่ำในการถอนเงินต้องมากกว่า {{minAffiliate}} บาท
                                            </div>
                                            <div class="row">
                                                2. ยอดสูงสุดในการถอนเงินต้องน้อยกว่า {{maxAffiliate}} บาท
                                            </div>
                                        </div>
                                    </div>
                                    <form [formGroup]="formWithdraw">
                                        <div class="row mt-2">
                                            <div class="col-4 withdraw mt-3"> จำนวนเงินที่ต้องการถอน : </div>
                                            <div class="col-7 input-withdraw mt-2">
                                                <input type="text" name="withdraw" id="withdraw" class="form-control" placeholder="กรูณาใส่จำนวนเงินที่ต้องการถอน" formControlName="withdraw">
                                            </div>
                                            <div class="col-4 withdraw mt-3"> ค่าธรรมเนียมในการถอน : </div>
                                            <div class="col-7 input-withdraw mt-3"> {{percent}} % </div>
                                            <div class="col-4 withdraw mt-3"> ยอดรวมทั้งหมด : </div>
                                            <div class="col-7 input-withdraw mt-3"> {{perPlusWithdraw}} บาท</div>
                                            <div class="button">
                                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="wathdrawMoneyAffiliate()">
                                                    ยืนยัน
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    ยกเลิก </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shope col-6" *ngIf="role=='STORE' || role=='ST_AF'">
                        <h2> ยอดเงินการขาย </h2>
                        <p class="mt-3"> {{item.incomeStore | number : '1.2-2'}} บาท </p>

                        <button type="button" class="btn btn-outline-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                            ถอนเงิน
                        </button>
                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title"> เงื่อไขในการถอนเงิน </h3>
                                        <div class="col mt-5">
                                            <div class="row">
                                                1. ขั้นต่ำในการถอนเงินต้องมากกว่า {{minStore}} บาท
                                            </div>
                                            <div class="row">
                                                2. ยอดสูงสุดในการถอนเงินต้องน้อยกว่า {{maxStore}} บาท
                                            </div>
                                        </div>
                                    </div>
                                    <form [formGroup]="formWithdraw">
                                        <div class="row mt-2">
                                            <div class="col-4 withdraw mt-3">
                                                จำนวนเงินที่ต้องการถอน :
                                            </div>
                                            <div class="col-7 input-withdraw mt-2">
                                                <input type="text" name="withdraw" id="withdraw" class="form-control" placeholder="กรูณาใส่จำนวนเงินที่ต้องการถอน" formControlName="withdraw">
                                            </div>
                                            <div class="col-4 withdraw mt-3"> ค่าธรรมเนียมในการถอน : </div>
                                            <div class="col-7 input-withdraw mt-3"> {{percent}} % </div>
                                            <div class="col-4 withdraw mt-3"> ยอดรวมทั้งหมด : </div>
                                            <div class="col-7 input-withdraw mt-3"> {{perPlusWithdraw}} บาท</div>
                                            <!-- <p> {{perPlusWithdraw}}</p> -->
                                            <div class="button">
                                                <button type="submit" class="btn btn-success" data-bs-dismiss="modal" (click)="wathdrawMoneyStore()">
                                                    ยืนยัน
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    ยกเลิก </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>