.backgroundimg {
    background-image: url('src\assets\img\illustrations\heroheader.png');
    /* margin-top: -12px; */
    min-height: 77vh;
}

th,
td {
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid rgb(233, 233, 233);
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #eff4ff;
    height: 40px;
    border: 0.5px solid #d3d8ff
}

img {
    width: 400px;
}

h2 {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    background-color: #b2c0df;
    height: 35px;
}

p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.empty-cart {
    text-align: center;
    margin-bottom: 10pc;
}

.bi-cart-fill {
    margin-left: 5rem;
    margin-top: 6rem;
    /* margin-bottom: 2rem; */
}

.withdraw {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: end;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: end;
}

.input-withdraw {
    text-align: start;
}

.btn-success {
    margin-left: 10px;
}

.btn-secondary {
    margin-left: 10px;
    margin-right: 10px;
}

.withdraw-money {
    margin-top: 4.8rem;
}